body {
  height: 100%;
  background-color: #292929;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Raleway, sans-serif;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
}

img {
  display: inline-block;
  max-width: 100%;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 9px 15px;
  border-radius: 3px;
  background-color: #26acc7;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Raleway, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #383838;
}

.button.intro-button {
  position: relative;
  z-index: 1;
  margin-top: 0px;
  margin-right: 16px;
  margin-left: 16px;
  padding: 11px 25px;
  border: 1px solid #e31064;
  border-radius: 3px;
  background-color: #e31064;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-weight: 700;
}

.button.intro-button:hover {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

.button.feature-button {
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 2px;
  background-color: #000;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 15px;
}

.button.feature-button:hover {
  background-color: #e31064;
}

.button.price-button {
  margin-top: 0px;
  padding: 14px 25px;
  background-color: #e31064;
  font-weight: 700;
  text-transform: uppercase;
}

.button.price-button:hover {
  background-color: #ed5c96;
}

.button.submit-button {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
}

.button.dark {
  background-color: #000;
}

.button.dark:hover {
  background-color: #3bcdeb;
}

.button.big-button {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}

.button.big-button.top-30 {
  margin-top: 40px;
}

.button.big-button.top-40 {
  width: 80%;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button.big-button.top-40.productsoverview {
  width: 100%;
  margin-top: 50px;
  margin-right: 0px;
  margin-left: 0px;
  float: none;
  background-color: #e31064;
}

.button.big-button.top-100 {
  margin-top: 100px;
}

.button.big-button.red-button.height-128px.padding-top-24px {
  padding-top: 45px;
}

.button.big-button.hidden {
  display: none;
}

.button.fat-button {
  display: block;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 55px;
  padding-bottom: 55px;
  border-radius: 8px;
  font-size: 30px;
  font-weight: 700;
  text-transform: none;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  padding: 15px;
  background-color: rgba(0, 0, 0, .9);
  background-image: -webkit-linear-gradient(270deg, #000 15%, transparent);
  background-image: linear-gradient(180deg, #000 15%, transparent);
}

.hero {
  height: 800px;
  background-color: #2f3d40;
  background-image: url('../images/56ba59fb2cc69d4e6918dd55_56ba495c2cc69d4e6918ba94_colors.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-container {
  position: relative;
  height: 100%;
  padding-top: 230px;
}

.hero-text-block {
  position: relative;
  z-index: 500;
  width: 540px;
  float: left;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 1px;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 44px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0 0 6px #000;
}

.hero-title.title-2 {
  margin-top: 21px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
}

.hero-title.word {
  display: inline-block;
  margin-right: 14px;
  font-size: 58px;
  font-weight: 900;
}

.hero-button {
  display: inline-block;
  margin-right: 6px;
  padding: 15px 25px;
  border-radius: 3px;
  background-color: #26acc7;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-button:hover {
  background-color: #3fd4f2;
}

.hero-button._2 {
  background-color: #e31064;
}

.hero-button._2:hover {
  background-color: #fc3585;
}

.hero-image {
  position: absolute;
  top: 215px;
  right: 0px;
  display: none;
  height: 440px;
}

.hero-image.macbook {
  top: 185px;
  right: -285px;
  display: inline;
  height: 440px;
}

.hero-image.phone-white {
  top: 223px;
  right: -105px;
  height: 420px;
}

.hero-overlay {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 34, 46, .62);
}

.section {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #fff;
}

.section.tint {
  background-color: #ededed;
}

.section.products {
  display: none;
  height: 490px;
  background-color: rgba(38, 172, 199, 0);
  color: #fff;
}

.section.brands-section {
  padding-bottom: 85px;
}

.section.dark {
  background-color: #292929;
  color: #fff;
}

.section.thin-section {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section.hidden {
  display: none;
}

.section-title-block {
  margin-bottom: 30px;
  text-align: left;
}

.section-title-block.centered {
  text-align: center;
}

.section-title-block.testimonials {
  margin-bottom: 55px;
}

.section-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 22px;
  font-size: 42px;
  line-height: 35px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.section-title.subtitle {
  font-size: 25px;
  line-height: 27px;
  font-weight: 400;
}

.section-title.subtitle.faq-section-subtitle {
  text-align: left;
}

.brand-logo {
  display: inline-block;
  width: 10.2%;
  margin-right: 2%;
  margin-bottom: 12px;
  margin-left: 2%;
  opacity: 0.4;
}

.container {
  position: relative;
}

.container.centered {
  text-align: center;
}

.section-divider-line {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #ff1774;
}

.section-divider-line.feature-divider {
  margin-top: 16px;
  margin-bottom: 14px;
}

.section-divider-line.models-divider {
  margin-top: 15px;
  margin-bottom: 18px;
  background-color: hsla(0, 0%, 100%, .29);
}

.nav-link {
  padding-right: 10px;
  padding-left: 10px;
  font-family: Raleway, sans-serif;
  color: hsla(0, 0%, 100%, .65);
  font-size: 16px;
  font-weight: 600;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.w--current {
  opacity: 1;
  color: #fff;
  font-weight: 600;
}

.nav-link.nav-button {
  background-color: #e31064;
  color: #fff;
}

.nav-link.nav-button:hover {
  background-color: #fc3585;
}

.nav-link.nav-button.nav-button-left {
  margin-right: 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-image: none;
}

.nav-link.nav-button.nav-button-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.logo-text {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-weight: 300;
}

.logo-container {
  display: inline;
  height: 100%;
  padding-top: 7px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.logo-container:hover {
  text-shadow: 0 0 16px #fff;
}

.intro-row {
  margin-bottom: 45px;
}

.intro-column-title {
  margin-top: 0px;
  margin-bottom: 1px;
  font-size: 24px;
  line-height: 23px;
  font-weight: 900;
  text-transform: uppercase;
}

.intro-column-title.subtitle {
  margin-bottom: 16px;
  font-size: 21px;
  font-weight: 300;
}

.intro-button-wrapper {
  position: relative;
}

.intro-button-line {
  position: absolute;
  left: 0px;
  top: 22px;
  right: 0px;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.intro-icon {
  height: 65px;
  margin-bottom: 27px;
}

.link {
  font-family: Raleway, sans-serif;
  color: #26acc7;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  color: #000;
}

.link.below-paragraph {
  display: block;
  margin-top: 16px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #e31064;
  text-decoration: none;
}

.link.below-paragraph:hover {
  color: #000;
  text-decoration: underline;
}

.link.below-paragraph.pdf-download-link {
  display: block;
}

.link.below-paragraph.hidden {
  display: none;
}

.link.footer-link {
  display: block;
  color: #a8a8a8;
}

.link.footer-link:hover {
  color: #fff;
}

.link.footer-text-link:hover {
  color: #fff;
}

.link.big-link {
  font-size: 26px;
  line-height: 25px;
  font-weight: 700;
}

.link.case-study-thumbnail-link {
  color: #71dff5;
  text-align: right;
}

.image-section {
  background-image: url('../images/56ba495c2cc69d4e6918ba9d_BG-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.image-section-overlay {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(69, 87, 102, .4);
  color: #fff;
}

.image-section-overlay._2 {
  display: none;
  padding-top: 145px;
  padding-bottom: 145px;
  background-color: rgba(69, 87, 102, .4);
}

.large-phone-mockup {
  position: absolute;
  left: -173px;
  top: -168px;
  display: none;
  height: 795px;
}

.column-title-block {
  margin-bottom: 21px;
}

.check-list {
  margin-top: 25px;
}

.check-list-icon {
  width: 24px;
  margin-right: 13px;
  float: left;
}

.check-list-item {
  margin-bottom: 10px;
}

.check-list-item.last {
  margin-bottom: 0px;
}

.checklist-title {
  font-family: Raleway, sans-serif;
  color: #fff;
}

.feature-title {
  margin-top: 0px;
  margin-bottom: 6px;
  font-size: 23px;
  line-height: 22px;
  font-weight: 900;
  text-transform: uppercase;
}

.feature-title.subtitle {
  font-size: 17px;
  font-weight: 300;
}

.feature-column {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.feature-block {
  position: relative;
  padding: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: hsla(0, 0%, 100%, .2);
  border-radius: 4px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, .2);
  -webkit-transition: background-color 500ms ease, border-color 500ms ease, color 350ms ease;
  transition: background-color 500ms ease, border-color 500ms ease, color 350ms ease;
}

.feature-block:hover {
  border-color: #fff;
  background-color: #fff;
  color: #000;
}

.features-row {
  margin-top: 51px;
}

.footer {
  background-color: #000;
  color: #b3b3b3;
}

.bottom-footer {
  margin-top: 75px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #292929;
  text-align: center;
}

.bottom-footer-text {
  font-family: Raleway, sans-serif;
  color: #919191;
  font-size: 12px;
}

.column-title {
  margin-top: 0px;
  margin-bottom: 6px;
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
}

.column-title.subtitle {
  margin-bottom: 12px;
  font-size: 27px;
  line-height: 27px;
  font-weight: 300;
}

.large-column-title {
  margin-top: 0px;
  font-family: Raleway, sans-serif;
  font-size: 45px;
  line-height: 39px;
  font-weight: 900;
  text-transform: uppercase;
}

.models-text-block {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: 35%;
  margin-top: 14px;
  float: left;
}

.models-slider {
  display: inline-block;
  width: 570px;
  height: 300px;
  float: right;
  background-color: transparent;
}

.models-slide {
  text-align: center;
}

.model-image {
  height: 300px;
}

.model-image.iphone {
  height: 280px;
  margin-top: 16px;
}

.model-image.ipad {
  margin-top: 18px;
}

.model-slider-title {
  position: absolute;
  right: 50px;
  bottom: 85px;
  padding: 9px 11px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .8);
  font-family: Raleway, sans-serif;
  font-size: 23px;
}

.model-slider-title.subtitle {
  bottom: 49px;
  padding: 5px 7px;
  background-color: #e31064;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.model-slider-arrow {
  width: 40px;
  border-radius: 0px;
  opacity: 0.6;
  font-size: 23px;
  font-weight: 600;
}

.model-slider-arrow:hover {
  opacity: 1;
}

.page-header {
  background-image: url('../images/56ba495c2cc69d4e6918ba94_colors.png');
  background-position: 50% 50%;
  background-size: cover;
}

.page-header.contact {
  background-image: url('../images/56ba495c2cc69d4e6918ba94_colors.png');
}

.page-header._404-page {
  height: 100%;
  background-image: url('../images/56ba495c2cc69d4e6918ba94_colors.png');
}

.page-header-overlay {
  width: 100%;
  height: 100%;
  padding-top: 175px;
  padding-bottom: 105px;
  background-color: rgba(0, 0, 0, .45);
}

.page-header-overlay._404-page {
  height: 100%;
  padding-top: 25%;
}

.page-header-title {
  margin-top: 30px;
  color: #fff;
  font-size: 58px;
  line-height: 57px;
  font-weight: 900;
  text-transform: uppercase;
}

.page-header-title.subtitle {
  margin-bottom: 0px;
  font-size: 36px;
  line-height: 35px;
  font-weight: 300;
}

.page-header-title.subtitle.photo-section-header {
  margin-bottom: 40px;
  font-size: 34px;
  font-weight: 800;
  text-align: center;
}

.page-header-container.centered {
  text-align: center;
}

.page-header-container.always-centered {
  text-align: center;
}

.page-header-content-container {
  margin-top: 75px;
}

.pricing-column {
  padding-right: 15px;
  padding-left: 15px;
}

.pricing-block {
  overflow: hidden;
  border-radius: 4px;
  background-color: #000;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, .5);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  text-align: center;
}

.pricing-block:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.pricing-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
}

.pricing-title.price {
  font-family: Lato, sans-serif;
  font-size: 36px;
  line-height: 41px;
  font-weight: 300;
}

.pricing-title.monthly {
  color: #a8a8a8;
  font-size: 13px;
  line-height: 26px;
  font-weight: 300;
}

.pricing-title._2 {
  color: #e31064;
}

.pricing-title._3 {
  color: #26acc7;
}

.pricing-price-wrapper {
  padding: 25px;
  background-color: #fff;
}

.pricing-feature-list {
  margin-top: -20px;
}

.pricing-feature-list-item {
  padding: 9px 25px;
  border-top: 1px solid #e3e3e3;
  background-color: #fff;
}

.pricing-feature-text {
  font-family: Raleway, sans-serif;
}

.pricing-button-wrapper {
  padding: 25px;
  background-color: #1d3042;
}

.contact-form {
  display: block;
  width: 600px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 25px;
  border-radius: 4px;
  background-color: transparent;
}

.field {
  height: 50px;
  margin-bottom: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, .2);
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease, border 400ms ease;
  transition: background-color 200ms ease, border 400ms ease;
  font-family: Raleway, sans-serif;
  color: #000;
}

.field:hover {
  border-color: #000;
  background-color: #fff;
}

.field:focus {
  border-color: #26acc7;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, .6);
}

.field.area {
  height: 170px;
  padding-top: 12px;
}

.column-left {
  padding-right: 90px;
}

.check-list-block {
  padding: 35px;
  border-radius: 3px;
  background-color: #e31064;
  color: #fff;
}

.info-column-left {
  padding-right: 100px;
}

.info-image-block {
  position: absolute;
  top: -35px;
  right: -80px;
  z-index: 20;
  width: 625px;
}

.info-image-block.left {
  left: -160px;
  top: -35px;
  right: auto;
}

.info-tooltip-block {
  position: absolute;
  left: 0px;
  top: 106px;
}

.info-tooltip-block._2 {
  left: auto;
  top: 180px;
  right: 0px;
  text-align: right;
}

.info-tooltip-block._3 {
  left: -100px;
}

.info-tooltip-line {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: #e31064;
}

.info-tooltip-line._2 {
  width: 260px;
}

.info-tooltip-circle {
  position: absolute;
  top: -9px;
  right: 0px;
  width: 20px;
  height: 20px;
  border: 4px solid #e31064;
  border-radius: 100%;
  background-color: #fff;
}

.info-tooltip-circle.left {
  left: 0px;
  top: -9px;
  right: auto;
}

.info-tooltip-text {
  margin-bottom: 7px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.testimonial-block {
  position: relative;
  min-height: 120px;
  margin-top: 13px;
  padding-top: 27px;
  padding-left: 125px;
  border-top: 1px solid rgba(0, 0, 0, .09);
  opacity: 1;
}

.testimonial-image {
  position: absolute;
  left: 0px;
  top: 23px;
  width: 90px;
  height: 90px;
  border: 3px solid #fff;
  border-radius: 100%;
}

.testimonial-name {
  display: inline-block;
  margin-top: 9px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
}

.testimonial-name.title {
  margin-left: 17px;
  font-weight: 300;
}

.info-column-right {
  padding-left: 45px;
}

.footer-column {
  text-align: left;
}

.footer-link {
  color: #919191;
}

.footer-link:hover {
  color: #fff;
}

.footer-title {
  margin-bottom: 35px;
  opacity: 1;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 21px;
  font-weight: 200;
}

.footer-list-item {
  margin-bottom: 6px;
}

.footer-list-text {
  font-family: Raleway, sans-serif;
  color: #c9c9c9;
}

.footer-gray-social-block {
  height: 30px;
  margin-top: 11px;
  margin-right: 10px;
  padding-top: 4px;
  padding-bottom: 1px;
  opacity: 0.5;
  text-align: center;
}

.footer-gray-social-block:hover {
  opacity: 1;
}

.footer-gray-social-icon {
  height: 22px;
  border-radius: 5px;
}

.photo-section {
  background-image: url('../images/Photo-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.photo-section-overlay {
  padding-top: 145px;
  padding-bottom: 145px;
  background-color: rgba(0, 0, 0, .58);
  color: #fff;
}

.content-features-row._2 {
  margin-top: 30px;
}

.content-features-column {
  padding-right: 15px;
}

.features-block {
  position: relative;
  padding-top: 4px;
  padding-bottom: 0px;
}

.feature-icon {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 30px;
  opacity: 0.3;
}

.feature-block-title {
  margin-bottom: 7px;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 800;
}

.feature-paragraph {
  color: #a8a8a8;
}

.facts-section {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #ebebeb;
}

.facts-column {
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  color: #1c1c1c;
  text-align: center;
}

.facts-column:hover {
  color: #e31064;
}

.facts-title {
  font-family: Raleway, sans-serif;
  font-size: 44px;
  line-height: 38px;
  font-weight: 900;
}

.facts-title.description {
  margin-top: 14px;
  color: #737373;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
}

.clients-title {
  margin-bottom: 17px;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.clients-col-left {
  padding-right: 25px;
}

.clients-col-right {
  padding-left: 25px;
}

.process-bar-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.process-bar {
  overflow: hidden;
  width: 100%;
  height: 8px;
  border-radius: 40px;
  background-color: hsla(0, 0%, 61%, .49);
}

.process-bar-fill {
  width: 50%;
  height: 100%;
  background-color: #e31064;
}

.process-bar-title {
  display: inline-block;
  margin-bottom: 5px;
  float: left;
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.process-bar-title.number {
  float: right;
  opacity: 0.4;
}

.hero-buttons-wrapper {
  margin-top: 25px;
}

.success-bg {
  padding-top: 16px;
  border-radius: 60px;
  background-color: #26acc7;
  color: #fff;
  text-align: center;
}

.error-bg {
  padding-top: 16px;
  border-radius: 50px;
  color: #e31064;
  text-align: center;
}

.small-link-icon {
  height: 20px;
  margin-top: 12px;
  margin-right: 8px;
  float: left;
}

.dropdown {
  font-family: Raleway, sans-serif;
  color: #fff;
}

.dropdown-toggle {
  padding-right: 30px;
  color: hsla(0, 0%, 100%, .65);
}

.dropdown-toggle:hover {
  color: #fff;
}

.dropdown-toggle.w--open {
  color: #fff;
}

.dropdown-icon {
  margin-right: 10px;
}

.dropdown-list.w--open {
  overflow: hidden;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, .3);
}

.dropdown-link {
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-transition: background-color 350ms ease, color 350ms ease;
  transition: background-color 350ms ease, color 350ms ease;
  font-size: 13px;
  text-decoration: none;
}

.dropdown-link:hover {
  background-color: #e31064;
  color: #fff;
}

.dropdown-link.w--current {
  color: #26acc7;
}

.dropdown-link.w--current:hover {
  color: #fff;
}

.our-team-picture {
  display: inline-block;
  overflow: hidden;
  width: 220px;
  height: 250px;
  background-image: url('../images/Testimonial-16.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.our-team-picture:hover {
  background-image: url('../images/Testimonial-16.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.our-team-picture.our-team-picture-1 {
  display: block;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
}

.our-team-picture.our-team-picture-1.raised.border-radius {
  border-radius: 4px;
}

.our-team-picture.our-team-picture-4 {
  background-image: url('../images/Testimonial-7.jpg');
}

.our-team-picture.our-team-page-our-team-picture {
  float: left;
}

.our-team-picture-text {
  position: relative;
  display: block;
  width: 100%;
  height: 140%;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .06) 20%, rgba(3, 9, 20, .68) 80%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .06) 20%, rgba(3, 9, 20, .68) 80%);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.our-team-picture-text:hover {
  -webkit-transform: translate(0px, -28%);
  -ms-transform: translate(0px, -28%);
  transform: translate(0px, -28%);
}

.our-team-picture-text.no-mouseover:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.white-text {
  color: #fff;
}

.white-text.case-study-thumbnail-hook {
  position: static;
  width: 100%;
  text-align: center;
}

.white-text.case-study-thumbnail-hook.top-60 {
  font-size: 20px;
  line-height: 24px;
}

.white-text.top-80.case-study-thumbnail-hook {
  text-align: center;
}

.white-text.case-study-thumbnail-name {
  font-size: 49px;
  line-height: 49px;
}

.our-team-picture-text-name {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 140px;
  width: 100%;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.our-team-picture-text-name.our-team-picture-text-title {
  position: absolute;
  bottom: 105px;
  height: 2.25em;
  line-height: 16px;
  font-weight: 400;
}

.our-team-picture-text-bottom {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 8px;
  display: inline-block;
  width: 100%;
  padding-right: 4px;
  padding-left: 4px;
  font-family: Raleway, sans-serif;
  color: #fff;
  text-align: center;
}

.industries-template-content {
  display: inline-block;
  width: 80%;
  margin-bottom: 30px;
  text-align: left;
}

.bottom-margin-40px {
  margin-bottom: 40px;
}

.logo {
  position: static;
  bottom: -2px;
  display: inline-block;
  width: 206px;
  height: 40px;
  float: none;
  background-image: url('../images/arcmail logo with alpha and white shadow_1.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.red-button {
  background-color: #e31064;
}

.red-button:hover {
  background-color: #fc3585;
}

.careers-photo-section {
  background-image: url('../images/allChannels-dark.png');
  background-position: 50% 50%;
  background-size: cover;
}

.light-gray-section {
  background-color: rgba(0, 153, 255, 0);
}

.light-gray-section.section {
  background-color: #ebebeb;
}

.image-left-of-header {
  display: inline-block;
  width: 12em;
  height: 12em;
  margin: 4px 20px 4px 4px;
  float: left;
  background-image: url('../images/example-bg.png');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-left-of-header.news-content-image {
  width: 24em;
  height: 24em;
}

.news-link-block {
  overflow: hidden;
  width: 100%;
  height: 200px;
  margin-bottom: 24px;
  border-radius: 4px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  text-decoration: none;
  cursor: pointer;
}

.news-link-block:hover {
  -webkit-transform: translate3d(0px, 0px, 1px);
  transform: translate3d(0px, 0px, 1px);
}

.news-link-block.raise-on-hover:hover {
  box-shadow: 0 0 34px 16px rgba(0, 0, 0, .23);
}

.news-link-block.raised.raised-on-hover.dark-overlay-lighten-on-hover.dark-overlay {
  margin-bottom: 32px;
  padding: 0px;
}

.news-link-block.raised.raised-on-hover.no-background-image {
  background-image: none;
}

.dark-text {
  color: #333;
}

.our-people-dynamic-list {
  padding-right: 120px;
  padding-left: 120px;
}

.hidden {
  display: none;
}

.top-80 {
  margin-top: 80px;
}

.arcmail-news-article-image {
  max-width: 40%;
  margin-right: 16px;
  margin-bottom: 16px;
  float: left;
}

.faq-section-header {
  font-size: 80px;
  line-height: 80px;
  text-align: center;
}

.faq-section-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 80px;
  line-height: 80px;
  text-decoration: none;
}

.text-block-right {
  display: block;
  text-align: right;
}

.big-button {
  font-size: 24px;
  line-height: 23px;
}

.case-study-thumbnail {
  width: 400px;
  height: 400px;
  margin-bottom: 24px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}

.case-study-thumbnail.raised.raised-on-hover {
  width: 100%;
  margin-bottom: 20px;
}

.dark-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .48);
}

.padding-16 {
  padding: 16px;
}

.case-study-title {
  text-align: center;
}

.case-study-title.white-text {
  text-decoration: none;
}

.raise-on-hover:hover {
  box-shadow: 0 0 24px 6px rgba(0, 0, 0, .46);
}

.raised {
  box-shadow: 0 0 35px 2px rgba(0, 0, 0, .18);
}

.raised.news-link-block.raise-on-hover.no-background-image {
  background-image: none;
}

.dark-overlay-lighten-on-hover:hover {
  background-color: rgba(97, 97, 97, .43);
}

.dark-overlay-lighten-on-hover.padding-16.dark-overlay:hover {
  background-color: hsla(0, 0%, 7%, .43);
}

.dark-overlay-lighten-on-hover.padding-16.dark-overlay.raised.bottom-40 {
  margin-bottom: 40px;
}

.top-60 {
  margin-top: 10px;
}

.top-60.white-text {
  margin-top: 60px;
}

.top-60.white-text.big-text {
  font-size: 20px;
  line-height: 29px;
}

.sizing-calculator-form-field-explanation-image {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-right: 6px;
  margin-bottom: 0px;
  float: left;
}

.sizing-calculator-form-field-explanation {
  display: inline;
  font-size: 16px;
  font-weight: 600;
}

.sizing-calculator-form-field-label {
  margin-top: 8px;
}

.hr {
  height: 1px;
  background-color: #5e5e5e;
}

.hr.top-80 {
  background-color: #868686;
}

.sizing-calculator-form-output-gb-label {
  display: inline-block;
  margin-top: 35px;
  padding-top: 0px;
}

.sizing-calculator-form-output-gb {
  display: inline;
  margin-left: 14px;
}

.sizing-calculator-form-output-defender-model {
  display: inline;
  margin-left: 14px;
}

.sizing-calculator-form-output-defender-model-label {
  display: inline;
}

.embedstyling {
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
}

.paddedparagraph {
  margin-bottom: 71px;
}

.productrow {
  margin-top: 78px;
}

._101text {
  font-size: 80px;
}

.bottom-40 {
  margin-bottom: 40px;
}

.bottom-40.top-80 {
  position: relative;
}

.no-padding {
  display: none;
  padding-bottom: 0px;
}

.cover {
  display: block;
  width: 100%;
  height: 100%;
}

.cover.dark-overlay {
  display: inline-block;
}

.cover.dark-overlay.raised.raised-on-hover.dark-overlay-lighten-on-hover.background-cover {
  background-image: none;
}

.background-cover {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.bottom-20 {
  margin-bottom: 20px;
}

.footer-logo-container {
  float: none;
}

.footer-logo {
  width: 100%;
  height: 75px;
  background-image: url('../images/arcmail logo with alpha and white shadow.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.pretty-text-link-block {
  display: block;
  padding: 12px;
  border-radius: 6px;
  color: #4c90b6;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

.pretty-text-link-block.raised.raised-on-hover {
  box-shadow: 0 0 24px 2px rgba(0, 0, 0, .18);
}

.pretty-text-link-block.raised.raised-on-hover.bottom-20 {
  position: relative;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, .18);
}

.pretty-text-link-block.raised.raised-on-hover.bottom-20:hover {
  box-shadow: 0 0 24px 8px rgba(0, 0, 0, .18);
}

.frcp-rules-by-state-link-dynamic-item {
  margin-bottom: 24px;
}

.frcp-rules-by-state-link-dynamic-item.raised {
  padding: 12px;
}

.pretty-text-link-block-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.pretty-text-link-block-black-text {
  color: #1f1f1f;
}

.link-block-link-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  color: rgba(76, 144, 182, .5);
  font-size: 32px;
}

.top-30 {
  margin-top: 30px;
  font-size: 14px;
}

.pretty-link {
  color: #50a6b6;
  font-weight: 700;
  text-decoration: none;
}

.pretty-link.big-link {
  font-size: 20px;
  line-height: 24px;
}

.bottom-10 {
  margin-bottom: 10px;
}

.centered-text {
  text-align: center;
}

.bright-link {
  color: #5ee9fc;
}

.bottom-80 {
  margin-bottom: 80px;
}

.right-50 {
  margin-right: 50px;
}

.right-50.our-team-picture.our-team-page-our-team-picture {
  margin-right: 80px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.right-50.our-team-picture.our-team-page-our-team-picture.bottom-20 {
  display: inline-block;
  float: none;
}

.bottom-50 {
  margin-bottom: 50px;
}

.bottom-60 {
  margin-bottom: 60px;
}

.testing-class {
  color: #fff;
  font-style: normal;
}

.width-half {
  width: 50%;
}

.margin-centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.half-width-centered {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.width-100-percent {
  width: 100%;
}

.margin-all-50 {
  margin: 50px;
}

.display-inline {
  display: inline;
}

.margin-left-20px {
  margin-left: 20px;
}

.testing-class {
  position: static;
  display: block;
  clear: none;
  font-size: 20px;
}

.testing-class2 {
  font-size: 16px;
}

.margin-top-20px {
  margin-top: 20px;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-18px {
  font-size: 18px;
}

.margin-top-10px {
  margin-top: 10px;
}

.font-color-white {
  color: #fff;
}

.display-inline-block {
  display: inline-block;
}

.testing-class3 {
  height: 128px;
}

.height-10em {
  height: 10em;
}

.height-128px {
  height: 128px;
}

.height-128px.button.big-button.padding-top-24px {
  padding-top: 34px;
}

.padding-top-45px {
  padding-top: 45px;
}

.padding-top-45px.button.big-button.height-128px {
  padding-top: 46px;
}

.padding-bottom-45px {
  padding-bottom: 45px;
}

.fat-button {
  padding-top: 38px;
}

.margin-top-40px {
  margin-top: 40px;
}

.float-left {
  float: left;
}

.float-right {
  display: inline;
  float: none;
}

.margin-right-50px {
  margin-right: 50px;
}

.margin-right-100px {
  margin-right: 100px;
}

.margin-left-right-150px {
  margin-right: 0px;
  margin-left: 300px;
}

.margin-left-300px {
  margin-left: 150px;
}

.margin-left-150px {
  margin-left: 150px;
}

.text-color-white {
  color: #fff;
}

.background-white {
  background-color: #fff;
}

.font-size-24px {
  font-size: 30px;
  font-weight: 100;
}

.font-size-36px {
  font-size: 36px;
}

.font-size-32px {
  font-size: 32px;
}

.margin-bottom-40px {
  margin-bottom: 40px;
  text-align: left;
}

.margin-bottom-60px {
  margin-bottom: 60px;
}

.margin-bottom-80px {
  margin-bottom: 80px;
}

.font-size-48px {
  font-size: 48px;
}

.font-size-48px.font-color-white.centered-text {
  float: none;
}

.padding-top-50px {
  padding-top: 50px;
}

.padding-bottom-50px {
  padding-bottom: 50px;
}

.geometric-background-section {
  background-image: url('../images/56ba495c2cc69d4e6918ba9d_BG-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.line-height {
  font-size: 28px;
  line-height: 28px;
}

.contact-information {
  font-size: 28px;
  line-height: 28px;
}

.box-video {
  float: none;
}

.video-container {
  display: inline-block;
  width: 45%;
  height: 550px;
  margin-right: 50px;
  margin-bottom: 50px;
  float: left;
}

.video-container.margin-right-50px.margin-bottom-40px {
  width: 58%;
}

.brand-logo {
  display: inline-block;
  width: 15%;
  height: 100%;
}

.brand-logo2 {
  margin-left: 0px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.brand-logo-3 {
  width: 8em;
  height: 8em;
  margin-right: auto;
  margin-left: auto;
}

.background-contain {
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-information2 {
  margin-top: 40px;
  margin-left: 200px;
  color: #fff;
  font-size: 21px;
}

.contact-information-header {
  margin-bottom: 30px;
  margin-left: 0px;
  color: #fff;
  font-size: 33px;
  text-align: left;
}

.send-us-a-message {
  padding-left: 220px;
}

.contact-information-div {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: 50px;
  text-align: left;
}

.contact-section-row {
  margin-left: 10%;
}

.contact-information-data {
  color: #fff;
}

.our-team-header {
  display: inline-block;
}

.our-team-div-block {
  display: inline-block;
  margin-left: 0px;
  padding-top: 55px;
  padding-left: 0px;
}

.our-team-text-block {
  margin-top: 50px;
  margin-bottom: 150px;
  padding-top: 0px;
}

.our-team-sub-header {
  margin-bottom: 25px;
}

.white-paper-item {
  margin-bottom: 50px;
}

.new-centered {
  display: block;
  width: 80%;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
}

.popup-form {
  position: relative;
  top: 200px;
  z-index: 1000;
  display: block;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 40px 50px;
  border-radius: 8px;
  background-color: #d4d4d4;
}

.popup-div {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.center-text {
  text-align: center;
}

.close-button {
  position: relative;
  left: 25px;
  top: -19px;
  display: inline;
  float: right;
  border-radius: 5px;
  background-color: #4b4b4b;
}

.form-title {
  display: block;
  margin-top: 45px;
  margin-left: auto;
  padding-bottom: 20px;
  text-align: center;
}

.request-a-quote {
  display: inline-block;
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 15px 50px;
  float: right;
  font-size: 18px;
}

.round-edge-5px {
  border-radius: 5px;
}

html.w-mod-js *[data-ix="hero-title"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="hero-title-2"] {
  opacity: 0;
  -webkit-transform: translate(-20px, 0px);
  -ms-transform: translate(-20px, 0px);
  transform: translate(-20px, 0px);
}

html.w-mod-js *[data-ix="hero-title-3"] {
  opacity: 0;
  -webkit-transform: translate(-20px, 0px);
  -ms-transform: translate(-20px, 0px);
  transform: translate(-20px, 0px);
}

html.w-mod-js *[data-ix="hero-title-4"] {
  opacity: 0;
  -webkit-transform: translate(-20px, 0px);
  -ms-transform: translate(-20px, 0px);
  transform: translate(-20px, 0px);
}

html.w-mod-js *[data-ix="hero-title-5"] {
  opacity: 0;
  -webkit-transform: translate(-20px, 0px);
  -ms-transform: translate(-20px, 0px);
  transform: translate(-20px, 0px);
}

html.w-mod-js *[data-ix="hero-title-6"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="hero-button"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="hero-button-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="hero-image"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="hero-image-2"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="hero-image-3"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="model-title-slide"] {
  opacity: 0;
  -webkit-transform: translate(20px, 0px);
  -ms-transform: translate(20px, 0px);
  transform: translate(20px, 0px);
}

html.w-mod-js *[data-ix="model-title-slide-2"] {
  opacity: 0;
  -webkit-transform: translate(20px, 0px);
  -ms-transform: translate(20px, 0px);
  transform: translate(20px, 0px);
}

html.w-mod-js *[data-ix="testimonial-image"] {
  opacity: 0.4;
}

html.w-mod-js *[data-ix="page-title"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="page-title-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="fade-in-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-in-on-load-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-in-on-load-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-in-on-load-4"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-in-on-load-5"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-on-scroll"] {
  opacity: 0.02;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-on-scroll-right"] {
  opacity: 0.02;
  -webkit-transform: translate(30px, 0px);
  -ms-transform: translate(30px, 0px);
  transform: translate(30px, 0px);
}

html.w-mod-js *[data-ix="stats-fade-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="stats-fade-in-2"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="stats-fade-in-3"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="stats-fade-in-4"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="process-bar-fill-70"] {
  width: 0%;
}

html.w-mod-js *[data-ix="process-bar-fill-50"] {
  width: 0%;
}

html.w-mod-js *[data-ix="process-bar-fill-30"] {
  width: 0%;
}

html.w-mod-js *[data-ix="hero-title-7"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="hero-title-8"] {
  opacity: 0;
}

@media (max-width: 991px) {
  .navbar {
    padding-right: 45px;
    padding-left: 45px;
  }
  .hero {
    height: 570px;
  }
  .hero-container {
    padding-top: 124px;
  }
  .hero-text-block {
    width: 400px;
  }
  .hero-title {
    font-size: 17px;
  }
  .hero-title.title-2 {
    font-size: 23px;
    line-height: 27px;
  }
  .hero-title.word {
    font-size: 47px;
  }
  .hero-image {
    top: 147px;
    height: 400px;
  }
  .hero-image.macbook {
    top: 117px;
    right: -318px;
    height: 390px;
  }
  .hero-image.phone-white {
    top: 159px;
    height: 370px;
  }
  .hero-overlay {
    padding-right: 45px;
    padding-left: 45px;
  }
  .section {
    overflow: hidden;
    padding: 45px;
  }
  .section.products {
    height: 360px;
  }
  .section.brands-section {
    padding-bottom: 45px;
  }
  .section-title-block.testimonials {
    margin-bottom: 30px;
  }
  .section-title {
    margin-bottom: 3px;
    font-size: 35px;
  }
  .section-title.subtitle {
    font-size: 19px;
    line-height: 17px;
  }
  .brand-logo {
    width: 11.5%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .nav-link {
    width: 100%;
    max-width: 900px;
    padding-left: 25px;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    font-size: 15px;
  }
  .nav-link:hover {
    background-color: #26acc7;
  }
  .intro-row {
    margin-bottom: 32px;
  }
  .image-section-overlay {
    padding-right: 45px;
    padding-left: 45px;
  }
  .image-section-overlay._2 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .large-phone-mockup {
    left: -202px;
    top: -58px;
    height: 655px;
  }
  .feature-block {
    padding: 15px;
  }
  .large-column-title {
    font-size: 35px;
    line-height: 34px;
  }
  .models-text-block {
    width: 40%;
  }
  .models-slider {
    top: 39px;
    right: -15px;
    width: 400px;
    height: 190px;
  }
  .model-image {
    height: 190px;
  }
  .model-slider-title {
    bottom: 65px;
    font-size: 17px;
  }
  .model-slider-title.subtitle {
    bottom: 30px;
    margin-top: 4px;
    font-size: 12px;
  }
  .page-header-overlay {
    padding: 160px 45px 70px;
  }
  .page-header-overlay._404-page {
    padding-top: 26%;
  }
  .page-header-title {
    font-size: 45px;
    line-height: 38px;
  }
  .page-header-title.subtitle {
    font-size: 25px;
  }
  .page-header-content-container {
    margin-top: 45px;
  }
  .pricing-column {
    padding-right: 9px;
    padding-left: 9px;
  }
  .pricing-title {
    font-size: 24px;
    line-height: 26px;
  }
  .pricing-title.price {
    font-size: 28px;
    line-height: 30px;
  }
  .pricing-feature-list-item {
    padding-right: 9px;
    padding-left: 9px;
  }
  .pricing-feature-text {
    font-size: 12px;
  }
  .contact-form {
    width: 100%;
  }
  .column-left {
    padding-right: 45px;
  }
  .check-list-block {
    padding: 25px;
  }
  .info-image-block {
    top: -4px;
    right: -100px;
    width: 535px;
    text-align: center;
  }
  .info-image-block.left {
    top: -8px;
  }
  .info-tooltip-block {
    text-align: left;
  }
  .info-tooltip-block._2 {
    right: 70px;
  }
  .info-tooltip-line._2 {
    width: 200px;
  }
  .menu-button {
    width: 60px;
    height: 60px;
    padding-top: 17px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, .49);
    border-radius: 4px;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
    color: #fff;
    text-align: center;
  }
  .menu-button:hover {
    background-color: #fff;
    color: #e31064;
  }
  .menu-button.w--open {
    background-color: #26acc7;
  }
  .nav-menu {
    background-color: #000;
  }
  .footer-row {
    padding-right: 25px;
    padding-left: 25px;
  }
  .photo-section-overlay {
    padding: 90px 45px;
  }
  .facts-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .facts-title.description {
    font-size: 16px;
  }
  .clients-title {
    font-size: 21px;
  }
  .clients-col-left {
    padding-right: 18px;
  }
  .dropdown-toggle {
    padding-right: 45px;
    padding-left: 25px;
  }
  .dropdown-icon {
    margin-right: 25px;
  }
  .dropdown-list.w--open {
    border-radius: 0px;
  }
  .dropdown-link {
    padding-left: 25px;
  }
  .our-team-picture.our-team-picture-1 {
    margin-bottom: 8px;
  }
  .our-people-dynamic-list {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 15px 25px;
  }
  .hero {
    height: 480px;
  }
  .hero-container {
    padding-top: 102px;
  }
  .hero-text-block {
    width: 50%;
  }
  .hero-title {
    font-size: 3vw;
    line-height: 5vw;
  }
  .hero-title.title-2 {
    font-size: 3vw;
    line-height: 3vw;
  }
  .hero-title.word {
    font-size: 6vw;
    line-height: 5vw;
  }
  .hero-button {
    width: 100%;
    margin-top: 5px;
    margin-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .hero-image {
    height: 310px;
  }
  .hero-image.macbook {
    top: 127px;
    right: -246px;
    height: auto;
  }
  .hero-image.phone-white {
    height: 281px;
  }
  .hero-overlay {
    padding-right: 25px;
    padding-left: 25px;
  }
  .section {
    padding: 25px;
  }
  .section.products {
    height: auto;
    padding-bottom: 0px;
  }
  .section.brands-section {
    padding-bottom: 25px;
  }
  .section-title-block.testimonials {
    margin-bottom: 15px;
  }
  .section-title {
    font-size: 6vw;
    line-height: 6vw;
  }
  .section-title.subtitle {
    font-size: 3vw;
    line-height: 6vw;
  }
  .brand-logo {
    width: 17.5%;
  }
  .logo-container {
    padding-top: 0px;
    padding-left: 0px;
  }
  .intro-column {
    padding-bottom: 25px;
  }
  .intro-column.last {
    padding-bottom: 0px;
  }
  .image-section-overlay {
    padding: 25px;
  }
  .large-phone-mockup {
    position: static;
    width: 100%;
    height: auto;
  }
  .feature-column {
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  .feature-column.last {
    padding-bottom: 0px;
  }
  .footer {
    padding-top: 25px;
  }
  .bottom-footer {
    margin-top: 25px;
    padding: 25px;
  }
  .column-title {
    font-size: 6vw;
    line-height: 6vw;
  }
  .large-column-title {
    font-size: 6vw;
    line-height: 6vw;
  }
  .models-text-block {
    position: static;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .models-slider {
    position: relative;
    top: 0px;
    right: 0px;
    display: block;
    width: 100%;
    float: none;
  }
  .model-image {
    width: auto;
    height: auto;
  }
  .page-header._404-page {
    height: auto;
  }
  .page-header-overlay {
    padding: 100px 25px 45px;
  }
  .page-header-overlay._404-page {
    padding: 100px 25px 25px;
  }
  .page-header-title {
    font-size: 6vw;
    line-height: 6vw;
  }
  .page-header-title.subtitle {
    font-size: 3vw;
    line-height: 4vw;
  }
  .page-header-container.centered {
    text-align: left;
  }
  .page-header-content-container {
    margin-top: 25px;
  }
  .pricing-column {
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
  }
  .pricing-column.last {
    padding-bottom: 0px;
  }
  .pricing-title {
    font-size: 7vw;
    line-height: 8vw;
  }
  .pricing-title.price {
    font-size: 6vw;
    line-height: 7vw;
  }
  .pricing-price-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .pricing-feature-text {
    font-size: 14px;
  }
  .contact-form {
    width: 100%;
    padding: 0px;
  }
  .field {
    height: 42px;
    margin-bottom: 5px;
  }
  .column-left {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-right {
    padding-top: 25px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .info-column-left {
    padding-right: 0px;
    padding-left: 0px;
  }
  .info-image-block {
    position: static;
    width: 100%;
  }
  .testimonial-block {
    padding-top: 19px;
  }
  .info-column-right {
    padding-top: 25px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu-button {
    width: 50px;
    height: 50px;
    padding-top: 12px;
  }
  .footer-row {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer-column {
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
  }
  .footer-title {
    margin-bottom: 15px;
  }
  .photo-section-overlay {
    padding: 25px;
  }
  .content-features-row._2 {
    margin-top: 0px;
  }
  .content-features-column {
    padding-right: 0px;
    padding-bottom: 9px;
    padding-left: 0px;
  }
  .features-block {
    padding-top: 1px;
  }
  .facts-section {
    padding: 25px;
  }
  .facts-column {
    padding-right: 25px;
    padding-bottom: 9px;
    padding-left: 0px;
    text-align: left;
  }
  .facts-column.last {
    padding-bottom: 0px;
  }
  .facts-title {
    display: inline-block;
    width: 97px;
    margin-right: 22px;
    padding-bottom: 6px;
    float: left;
    border-radius: 2px;
    background-color: #292828;
    color: #fff;
    font-size: 36px;
    line-height: 33px;
    text-align: center;
  }
  .facts-title.description {
    width: auto;
    margin-top: 7px;
    margin-right: 0px;
    padding-bottom: 0px;
    background-color: transparent;
  }
  .clients-col-left {
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
  }
  .clients-col-right {
    padding-right: 0px;
    padding-left: 0px;
  }
  .hero-buttons-wrapper {
    margin-top: 16px;
  }
  .contact-map {
    height: 300px;
  }
}

@media (max-width: 479px) {
  p {
    font-size: 13px;
    line-height: 18px;
  }
  .navbar {
    padding-left: 20px;
  }
  .hero {
    height: 400px;
  }
  .hero-container {
    padding-top: 84px;
  }
  .hero-text-block {
    width: 60%;
  }
  .hero-title {
    line-height: 34px;
  }
  .hero-title.title-2 {
    margin-top: 11px;
    font-size: 4vw;
    line-height: 17px;
  }
  .hero-button {
    padding-left: 15px;
  }
  .hero-image {
    top: 145px;
    right: -20px;
    height: 200px;
  }
  .hero-image.macbook {
    top: 130px;
    right: -150px;
    height: auto;
  }
  .hero-image.phone-white {
    top: 150px;
    right: -95px;
    height: 180px;
  }
  .section {
    padding: 20px;
  }
  .section.brands-section {
    padding-bottom: 13px;
  }
  .section-title-block {
    margin-bottom: 7px;
  }
  .section-title {
    font-size: 7vw;
    line-height: 7vw;
  }
  .section-title.subtitle {
    font-size: 4vw;
    line-height: 4vw;
  }
  .brand-logo {
    width: 27.5%;
    margin-right: 2%;
    margin-left: 2%;
  }
  .section-divider-line.feature-divider {
    margin-top: 7px;
  }
  .section-divider-line.models-divider {
    margin-top: 9px;
    margin-bottom: 9px;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 14px;
  }
  .logo-text {
    margin-top: 3px;
    font-size: 27px;
    line-height: 34px;
  }
  .intro-column {
    padding-bottom: 15px;
  }
  .intro-column-title {
    font-size: 22px;
    line-height: 21px;
  }
  .intro-icon {
    height: 45px;
    margin-bottom: 13px;
  }
  .link.below-paragraph {
    margin-top: 8px;
    font-size: 12px;
  }
  .link.footer-link {
    font-size: 13px;
    line-height: 19px;
  }
  .column-title-block {
    margin-bottom: 14px;
  }
  .check-list-icon {
    width: 18px;
  }
  .check-list-item {
    margin-bottom: 7px;
  }
  .checklist-title {
    font-size: 12px;
    line-height: 13px;
  }
  .feature-title {
    line-height: 12px;
  }
  .feature-title.subtitle {
    line-height: 22px;
  }
  .feature-column {
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
  }
  .features-row {
    margin-top: 19px;
  }
  .column-title.subtitle {
    margin-bottom: 5px;
    font-size: 5vw;
    line-height: 6vw;
  }
  .model-image {
    height: auto;
  }
  .model-image.iphone {
    width: auto;
    height: auto;
  }
  .model-slider-title {
    font-size: 15px;
  }
  .model-slider-title.subtitle {
    font-size: 10px;
  }
  .page-header-overlay {
    padding: 75px 20px 26px;
  }
  .page-header-title {
    margin-bottom: 6px;
  }
  .page-header-title.subtitle {
    font-size: 3.5vw;
    line-height: 4vw;
  }
  .page-header-content-container {
    margin-top: 25px;
  }
  .field {
    height: 36px;
    font-size: 12px;
  }
  .field.area {
    height: 116px;
  }
  .testimonial-block {
    margin-top: 17px;
    padding-top: 14px;
    padding-left: 0px;
  }
  .testimonial-image {
    position: static;
    margin-bottom: 14px;
  }
  .menu-button {
    width: 40px;
    height: 40px;
    padding-top: 7px;
  }
  .footer-list-text {
    font-size: 13px;
  }
  .facts-section {
    padding: 20px;
  }
  .facts-title {
    margin-right: 14px;
    font-size: 27px;
  }
  .facts-title.description {
    font-size: 14px;
  }
  .clients-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .checklist-column-right {
    padding-right: 0px;
    padding-left: 0px;
  }
  .contact-map {
    height: 260px;
  }
  .small-link-icon {
    margin-top: 3px;
    margin-right: 6px;
  }
  .white-text.case-study-thumbnail-name {
    font-size: 24px;
    line-height: 23px;
  }
  .image-left-of-header {
    display: block;
    width: 100%;
    height: 6em;
    float: none;
  }
  .dark-text {
    font-size: 120%;
    line-height: 20px;
  }
  .faq-section-header {
    font-size: 60px;
    line-height: 60px;
  }
  .faq-section-link {
    font-size: 60px;
    line-height: 60px;
  }
  .case-study-thumbnail {
    width: 250px;
    height: 250px;
  }
  .sizing-calculator-form-field-explanation {
    font-size: 12px;
    font-weight: 700;
  }
  .sizing-calculator-form-field-label {
    font-size: 16px;
  }
}

